.banner {
  display: block;
  width: 100%;
  height: 100%;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}

.title {
  display: block;
  margin: 0 auto;
}

.features {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.waveUp {
  margin-top: -200px;
}

.waveDown {
  margin-bottom: -50px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  height: 100px
}

.button {
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}